* {
    color: whitesmoke;
    margin: 0px;
    padding: 0px;
    
}

body {
    max-width: 1400px;
    margin: auto;
    background-color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    /*background-color: rgb(15, 15, 15);*/
    
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 24px;
}

.container {
    /*display: flex;
    align-items: center;
    justify-content: space-between;*/
    min-height: 500px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 15, 15);
    box-shadow: 5px 5px 3px #c9c7c7;
    border-radius: 5px;
}


header .hero-text {
    margin-left: 100px;
}

header img {
    margin-right: 100px;
    max-width: 400px;
    height: auto;
}

.container h2 {
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}

.container .profiles {
    display: flex;
    justify-content: space-around;
    }

    .container .profiles .profile-box {
        box-shadow: 5px 5px 3px #c9c7c7;
        min-height: 150px;
        background-color: rgb(15, 15, 15);
        border: 1px;
        border-style: solid;
        border-radius: 5px;
        border-color: rgb(117, 117, 117);  
    }


    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
        background-color: rgb(15, 15, 15);
    }