* {
    color: whitesmoke;
    margin: 0px;
    padding: 0px;
    
}

body {
    max-width: 1400px;
    margin: auto;
    background-color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px; 
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 24px;
}

nav ul a img {
    width: 60px;
    height: auto;
    background-color: whitesmoke;
}

.container {
    min-height: 500px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 15, 15);
    box-shadow: 5px 5px 3px #c9c7c7;
    border-radius: 5px;
    
}

header .hero-text {
    margin-left: 100px;  
    max-width: 300px;
}

header .hero-text p {
    color: whitesmoke;
}

header img {
    margin-right: 100px;
    max-width: 400px;
    height: auto;
    border: 1px;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 4px;
    box-shadow: 5px 5px 3px #c9c7c7;
}

header button {
    background-color: rgb(15, 15, 15);
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-top: 10px;
}

.container h2 {
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}

.container .profiles {
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
    }

.container .profiles .profile-box {
    min-height: 300px;
    box-shadow: 5px 5px 3px #c9c7c7;    
    background-color: rgb(15, 15, 15);
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(117, 117, 117);  
}

.container .profiles .profile-box img {
    width: 150px;
    height: 100px;
    background-color: whitesmoke;
}

.container .profiles .profile-box p {
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
    color: whitesmoke;
}

.container .call-to-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 400px;
    background-color: whitesmoke;
    margin-bottom: 50px;
    box-shadow: 5px 5px 3px rgb(117, 117, 117);    
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(117, 117, 117);
}

.container .call-to-action .call-text h3, p {
    color: black;
    max-width: 300px;
    
}
.container .call-to-action .call-text h3 {
    font-size: 36px;
    margin-bottom: 15px;
}

.container .call-to-action .call-text p {
    font-size: 24px;
}

.container .call-to-action form input {
    border-radius: 18px;
    width: 200px;
    color: black;
    padding: 8px 0px;
}

input::placeholder {
    padding-left: 15px;
    font-weight: bold;
}

.container .call-to-action button {
    padding: 8px 16px;
    font-size: 16px;
    color: black;
    margin-top: 5px;
    background-color: white;
    border: 1px;
    border-style: solid;
    border-radius: 9px;
    
}

footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: rgb(15, 15, 15);
    margin-bottom: 0px;
}